<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>jobName</includeMdcKeyName>
        </encoder>
    </appender>

    <appender name="HUMAN_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level [traceId=%X{traceId:-} jobName=%X{jobName:-}] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <springProfile name="local,dev">
        <root level="INFO">
            <appender-ref ref="HUMAN_CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="!local &amp; !dev">
        <root level="INFO">
            <appender-ref ref="JSON_CONSOLE"/>
        </root>
    </springProfile>

</configuration>
